anan.jpg
main/*
algo_main/*
caffe/*
CMakeFiles/
cmake_install.cmake
Makefile
face_algo_main
*.log
CMakeCache.txt
!CMakeList.txt
*.a
!algo_main/train_lenet_gpu_batch
lenet_prune90_train/
!caffe/caffe_gpu_batch
!caffe/caffe_gpu_batch/*.a
!caffe/caffe_gpu_batch/layers
caffe/caffe_gpu_batch/*.cpp


